@import "@styles/variables";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  min-height: 500px;

  .title {
    color: $secondary;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
  }
  .about {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 8px;
    @media (max-width: 930px) {
      flex-direction: column;
      align-items: center;
      p {
        margin-top: 0;
      }
    }
    h3 {
      font-size: 1.5rem;
    }
    .about__text {
      max-width: 700px;
      font-family: "Inter", sans-serif;
      font-weight: 300;
      line-height: 1.6;
    }
  }
  .description {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    @media (max-width: 930px) {
      margin-top: 40px;
    }
    &__text {
      @media (max-width: 930px) {
        width: 300px;
        text-align: center;
        background: $background--medium;
      }
      .list {
        font-family: "Inter", sans-serif;
        font-weight: 300;
      }
    }
    @media (max-width: 930px) {
      flex-direction: column;
      align-items: center;
    }
    h3 {
      font-size: 1.5rem;
    }
  }
  p {
    font-size: 1.3rem;
  }
}
