@import "@styles/color-palette";

.button {
  text-align: center;
  padding: 0.8em 1em;
  cursor: pointer;
  transition: all 400ms cubic-bezier(0.22, 1, 0.36, 1);
  &--primary {
    background: $secondary;
    color: #ffffff;
    transition: all 800ms cubic-bezier(0.22, 1, 0.36, 1);
    border: none;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    &:hover {
      background: #4376cd;
    }
  }
  &--accent {
    background: none;
    border: 0.5px solid #ccc;
    color: #555555;
    transition: all 400ms cubic-bezier(0.22, 1, 0.36, 1);
    &:hover {
      color: #888;
      background: rgba(55, 55, 55, 0.01);
    }
  }
}
