@import "@styles/variables";

.section {
  background: $background--light;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  @media (max-width: 930px) {
    flex-direction: column-reverse;
    height: 550px;
  }
  .text {
    font-family: "Open Sans", sans-serif;
    font-size: 23px;
    line-height: 33px;
    max-width: 600px;
    padding: 0 20px;
    transition: font-size 0.5s $ease-in--quint;

    @media (max-width: 550px) {
      font-size: 18px;
      line-height: 28px;
    }
  }

  .image {
    border-radius: 100%;
    object-fit: cover;
    @media (max-width: 930px) {
      width: 250px;
      height: 250px;
    }
  }
}
