@import "@styles/variables";

.container {
  max-width: 1400px;
  margin: 0 auto;

  &__nested {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0 20px;
    @media (max-width: 550px) {
      padding: 0 8px;
    }
  }
  &__grey {
    background: $background--light;
    padding-bottom: 60px;
  }
}

.flex__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1000px;
  margin: 60px auto;
  background: $background--light;
  @media (max-width: 950px) {
    flex-direction: column;
    justify-content: center;
    margin: 40px auto;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .item {
    width: 50%;
    padding-top: 40px;
    padding-bottom: 40px;
    @media (max-width: 950px) {
      padding: 0;
      width: 80%;
    }
    .header {
      max-width: 50%;
      margin: 0 auto;
      @media (max-width: 950px) {
        text-align: center;
        max-width: none;
      }
    }
    h4 {
      font-family: "Montserrat", sans-serif;
      font-size: 2.1rem;
      font-weight: bold;
      margin: 12px auto;
    }
    p {
      text-align: center;
      font-family: "Inter", sans-serif;
      max-width: 80%;
      @media (max-width: 950px) {
        max-width: 100%;
      }
      line-height: 1.7;
      font-weight: 300;
    }
  }
}
