@import "@styles/variables";

.section {
  background: $background--light;
  width: 100%;
  margin-top: 40px;
  padding-top: 1px;
  padding-bottom: 40px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: -20px;
  &--skills {
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    @media (max-width: 650px) {
      margin: 20px auto;
      background: #ffffff;
      padding: 10px;
      border-radius: 5px;
      text-align: center;
      width: 250px;
    }
  }
  @media (max-width: 650px) {
    flex-direction: column;
  }
  .icon {
    margin-right: 8px;
    position: relative;
    top: 2px;
  }
  .bold {
    font-weight: 700;
  }

  h4 {
    margin-bottom: 0;
    margin-left: -5px;
  }
}
