@import "@styles/variables";

.section {
  background: $background--light;
  padding: 30px 10px;
  margin-top: 50px;
  .container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: -5px;
    margin-bottom: 80px;
    padding: 0 10px;
  }
  .text {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.2px;
    line-height: 1.6;
  }
}
