@import "@styles/variables";

.container {
  max-width: 1400px;
  margin: 0 auto;

  &__nested {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0 20px;
    @media (max-width: 550px) {
      padding: 0 8px;
    }
  }
  &__grey {
    background: $background--light;
    padding-bottom: 60px;
  }
}
