.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 40px auto;
  flex-wrap: wrap;
  &__modal {
    margin: 0 10px;
    @media (max-width: 630px) {
      margin: 0;
      margin-bottom: 40px;
    }
  }
  .image {
    margin: 0 10px;
    margin-bottom: 40px;
    max-width: 100%;
    object-fit: contain;
    height: auto;
    &__modal {
      margin: 0;
      margin-bottom: 40px;
    }
  }
}
