@import "@styles/variables";

.section {
  background: $background--light;
  width: 100%;
  margin-top: 40px;
  padding-top: 1px;
  padding-bottom: 40px;
}

.form {
  margin: 0 auto;
  max-width: 660px;
  padding: 0 8px;
  label {
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    @media (max-width: 712px) {
      flex-direction: column;
    }
  }

  .name {
    width: 48%;
    @media (max-width: 712px) {
      width: 100%;
    }
    &__top {
      @media (max-width: 712px) {
        margin-bottom: 20px;
      }
    }
  }
  .input {
    font-size: 16px;
    font-size: max(16px, 1em);
    margin-top: 9px;
    padding: 0.25em 0.5em;
    height: 42px;
    background-color: #fff;
    border: 1px solid #d6d2d2;
    &__message {
      padding: 8px;
      height: 200px;
    }
  }
  .margin__bottom {
    margin-bottom: 20px;
  }
  .icon {
    margin-right: 5px;
    position: relative;
    top: 2px;
  }
}
