.footer {
  height: 120px;
  width: 100%;
  background: #ffffff;
  .container {
    display: flex;
    align-items: center;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 10px;
  }

  .item {
    margin-right: 20px;
    @media (max-width: 425px) {
      font-size: 1.2rem;
    }
    &__icon {
      font-size: 2rem;
    }
  }
}
