@import "@styles/variables";

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: $background--medium;
  height: 600px;
  @media (max-width: 930px) {
    flex-direction: column;
  }
  &__text {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
  }
  .title {
    font-size: 3rem;
    margin: 0;
    transition: font-size 0.5s $ease-in--quint;
    @media (max-width: 500px) {
      font-size: 2.5rem;
    }
  }
  .description {
    font-size: 2rem;
    transition: font-size 0.5s $ease-in--quint;
    @media (max-width: 500px) {
      font-size: 1.6rem;
    }
  }
  .image {
    height: 300px;
    width: 150px;
  }
}
